:root {
  --borde: 0.375rem;
}

.div_showSelectedProds {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 1px;
  right: 16px;
  width: 13rem;
  min-height: max-content;
  height: fit-content;
  border-radius: var(--borde);
  background: #fffdfd;
  opacity: 1;
  z-index: 900;
  /* padding: 1rem; */
  padding: 0 0 0.5rem 0;
  .empty_cart {
    display: flex;
    justify-content: center;
    color: #464547;
    border-radius: 0.125rem;
    padding: 0.5rem;
    margin: 0 auto;
  }
}
.ul_showselectedProds {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 25px;
  /* top: 3rem; */
  color: #000000;
  border-radius: 2px;
  margin: 0 auto;
  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* gap: 19px; */
    p {
      font-size: 1rem;
      font-weight: bold;
    }
    b {
      font-size: 1.3rem;
      color: rgba(144, 222, 66, 0.735);
    }
    img {
      height: auto;
      width: 111px;

      aspect-ratio: 1/1;
    }
    button {
      &:hover {
        cursor: pointer;
        filter: drop-shadow(0px 0px 10px #e23a3a);
      }
    }
  }
}
.end_buy {
  display: flex;
  justify-content: space-evenly;
  padding: .5rem 0 0 0;
  button{
    font-size: 15px;
    &:hover {
        cursor: pointer;
        filter: drop-shadow(0px 0px 5px #2e2c2c);
      }
  }
}
.prods_separate {
  border-bottom: 2px solid #46454799;
  border-radius: var(--borde);
}
