.ul-cath {
  display: inline;
  height: 3rem;
  padding: 0 .5rem;
}
.ul-cath img,
.ul-cath b {
  cursor: pointer;
}

.ul-ofertas {
  display: flex;
  padding: 0 1rem;
  b {
    cursor: pointer;
    color: red;
    height: 24px;
    display: flex;
    align-items: center;
  }
}


