.ul-cath {
  display: inline;
  height: 3rem;
  padding: 0 .5rem;
}
.ul-cath img,
.ul-cath b {
  cursor: pointer;
}

.ul-ofertas {
  display: flex;
  padding: 0 1rem;
  /* border: 1.5px solid red; */
  /* border-radius: 1rem; */
  b {
    cursor: pointer;
    color: red;
    height: 24px;
    display: flex;
    align-items: center;
  }
}
.links_style{
  a{
    display: flexbox;
    align-items: center;
  }
}